* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    transition: all ease-in-out 250ms;

    /* outline: 3px solid red;
    border: 2px solid yellow; */
}

.header-body {
    background-color: #548CA8;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-container {
    width: 70%;
    font-size: 18px;
}

.main-body {
    background: #26334660;
    height: 90vh;
    font-size: 25px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


    flex-direction: column;


}

.main-container {
    width: 50%;

}


.table-of-contents {
    margin-bottom: -100px;

}

.menu-container a {
    text-decoration: none;
}


.menu-container li {

    margin-bottom: 8px;
    padding: 2px;
}


/* Animation begins here:  */


/* targets the main body when user hover it */
.main-body:hover {
    font-size: 28px;
    background: #1a202960;
}


/* target the header when the user hover it  */
.header-body:hover {
    background-color: #487289;

}

.header-body:hover .header-container {
    font-size: 22px;
    box-shadow: 6px 8px 6px #1a202960;
}

.main-body:hover .table-of-contents {
    font-size: 23px;
    transform: translateY(-10px);
    box-shadow: 3px 4px 8px #487289;
}

.main-container li:hover {
    font-size: 32px;
}

.menu-container a:hover {
    text-decoration: none;
    box-shadow: 3px 4px 5px #3a5c6e;
    margin: 3px;
}