/* All elements selected */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    transition: all ease-in-out 250ms;
}

/* header tag selected  */
header {
    display: flex;
    justify-content: space-around;
    background-color: #d1bb96;
    align-items: center;
}

/* image selected  */
img {
    width: 50px;
    height: 80px;
    padding: 2px;
}

/* nav bar inside header is selected  */
.navbar-container {
    padding: 3px;
    border: 1px solid red;

}

/* list items inside nav-bar in the header selected  */
.navbar-container li {
    display: inline-block;

    margin: 10px;
    padding: 5px;

}


/* main tag selected  */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;

    background-color: #F09A9D;
    color: #EEE;

    font-size: 22px;
}

/* first paragrapgh inside main is selected  */
.first-paragraph-container p {
    margin: 60px;
    font-weight: 900px;
}

/* footer tag is selected  */
footer {
    background-color: #c1ac88;

    height: 44vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Add border  for debugging */
/* footer p {
    border: 1px solid red; 
} */

/* button in the footer is selected  */
footer .dyor {
    padding: 20px;
    width: 90px;

}

/* second paragraph container inside main is selected  */
.second-paragraph-container {
    text-align: center;
}


.navbar-container a {
    text-decoration: none;
    color: #210A0E;
}


footer a {
    text-decoration: none;
    color: #070102;
}


/* Animation for page */

header:hover {
    font-size: 19px;
    transform: translateY(-4px);
    box-shadow: 3px 7px 8px #210A0E;
    background-color: #cab692;
    ;
}


.navbar-container .home:hover,
.navbar-container .about:hover,
.navbar-container .contact:hover {
    font-size: 23px;
    color: #070102;
    box-shadow: 1px 1px 1px #070102;
}

img:hover {
    transform: translateX(18px);
    width: 55px;
    height: 90px;
}

main:hover {
    background-color: #c8888a;
    color: #fff;

}

.dyor:hover::after {
    /* width: 30px; */
    content: "DYOR!!";
    background-color: rgb(158, 38, 38);
    position: absolute;
    font-size: 22px;
    transform: translateY(-50px);
}


footer:hover {
    background-color: #9b8b6e;
}

footer:hover button{

    transform: translateY(-3);
    box-shadow: 4px 4px 8px #554d3e;;
}

footer:hover button:hover{

    transform: translateY(-8);
    box-shadow: 5px 9px 8px #554d3e;;
}