.card-container {
    margin-top: 10%;
    height: 600px;
}


.avatar-img {
    width: 120px;
    height: 120px;

    border-radius: 100%;
}


/* Center the contact card  */
.avatar,
.contact-info {

    margin: auto;
    padding: 40px;
}

@media (max-width: 700px) {
    .card-container {
        width: 80%;
        gap: 70px;

        height: 500px;

    }

}

@media (min-width: 701px) {

    .card-container {
        justify-items: center;

        gap: 150px;
        width: 60%;

        /* put it directly beneath Portfolio in the header nav-bar */
        transform: translateX(-140px);

        height: 600px;
    }

    body {
        background-image: url("../../portfolio-01/images/charcoal-pens-copyspace.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}






