/* select the body tag :tag  */
body {
    background-image: none;
    /* background-color: #dcdcdc */
    background-color: #EDEDEF;
}

/* select the main tag : */
main {
    /* border: 1px solid black; */
    /* height: 1800px; */
    
    height: 100%;
    flex-direction: column;
}

/* select all section tag :tag  */
section {

    width: 70%;
}

/* select all .card-container :class  */
.card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;



    border: 1px solid #ddd;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* select the list headers where list style type is applied :tag  */
.card-body li {
    list-style-type: square;
    margin-bottom: 10px;

    border: 3px solid yellow;
}


.card-body h4 {
    margin-bottom: 6px;
}

p {
    line-height: 18px;

}

h5 {
    font-size: 15px;
    margin: 7px 0px 3px 0px;
}


/* select all the header tags in the main tag :tag */
main header {
    border: 2px solid red;
    margin-bottom: 30px;
}

@media (max-width: 700px) {
    section {
    
        width: 85%;
    }

    main {
        /* height: 2205px; */
    }

    .card-container {
        padding: 5px;
    }
}

@media (min-width: 701px) {
    /* main {
        /* height: 1800px; 
    } */
    p {
        border: 3px solid brown;
        
    }
    main h4 {
        border: 2px solid indianred;
    }

    main header {
        font-size: 25px;
    }
}

p {
    border: 3px solid brown;
}

* { 
    border: none !important;
}


.card-container:hover {
    box-shadow: 5px 8px 12px #122;
}