/* select the body tag :tag  */
body {
    background-image: none;
    /* background-color: #dcdcdc */
    background-color: #EDEDEF;
}

/* select the main tag : */
main {
    /* border: 1px solid black; */
    /* height: 1800px; */
    
    height: 100%;
    flex-direction: column;
}

/* select all section tag :tag  */
section {

    width: 70%;
}

/* select all .card-container :class  */
.card-container {
    display: flex;
    flex-direction: column;


    border: 1px solid #ddd;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* select the list headers where list style type is applied :tag  */
.card-body li {
    list-style-type: square;
    margin-bottom: 10px;
}


.card-body h4 {
    margin-bottom: 6px;
}

p {
    line-height: 18px;

}

h5 {
    font-size: 15px;
    margin: 7px 0px 3px 0px;
}


/* select all the header tags in the main tag :tag */
main header {
    border: 2px dotted rgb(41, 88, 88, 0.1);
    margin-bottom: 30px;
}

.work-experience-list div{
    margin-top: 10px;
}

.work-experience-list em {
    display: block;
}

/*  */


@media (max-width: 700px) {
    section {
    
        width: 85%;
    }

    .card-container {
        padding: 5px;
    }

    .card-container:hover header {
        font-size: 19.125px;
    }
}


@media (min-width: 701px) {


    main header {
        font-size: 25px;
    }



    .card-container:hover header {
        font-size: 33px;
    }

    .card-container:hover {
        padding: 30px;
    }
}


/* * { 
    border: none !important;
} */

main {
    height: 100%;
    gap: 70px;
    margin-top: 70px;
}


.card-container:hover {
    box-shadow: 5px 8px 12px #122;
}

