/* select the body tag :tag  */
body {
    background-image: none;
    /* background-color: #dcdcdc */
    background-color: #EDEDEF;
}

/* select the main tag : */
main {
    /* border: 1px solid black; */
    /* height: 1800px; */
    
    height: 100%;
    flex-direction: column;
}

/* select all section tag :tag  */
section {

    width: 70%;
}

/* select all .card-container :class  */
.card-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;



    border: 1px solid #ddd;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}


.card-body li {
    list-style-type: square;
    margin-bottom: 8px;

    border: 3px solid yellow;
}

.card-body h4 {
    margin-bottom: 5px;
}

p {
    line-height: 5x;
}


/* select all the header tags in the main tag :tag */
main header {
    border: 2px solid red;
    margin-bottom: 30px;
}

@media (max-width: 700px) {
    section {
    
        width: 85%;
    }

    main {
        /* height: 2205px; */
    }

    .card-container {
        padding: 5px;
    }
}

@media (min-width: 701px) {
    main {
        /* height: 1800px; */
    }
}