* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    color: #111;

    transition: all ease-in-out 250ms;
    /* border: 1px solid red; */
}


body {
    background-image: url("../../portfolio-01/images/charcoal-pens-copyspace.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.nav-list {
    display: flex;

    justify-content: flex-end;
    font-size: 1.25rem;

    margin-right: 5px;
    margin-left: 5px;

    border-bottom: 1px dotted #121212;
    height: 120px;

    flex-wrap: wrap;

    font-weight: 600;
}

.nav-list>* {
    padding: 8px;
}

.nav-list .portfolio {
    margin: auto;
}

.nav-list .home,
.nav-list .contact {
    align-self: center;
}


main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    width: 100%;
    height: 60vh;

    gap: 55px;
    flex-wrap: wrap;
}


main .role {
    list-style-type: square;
}





/* Media queries begins here  */



/* Mobile User Experience  */
@media (max-width: 700px) {
    main .nevergiveupistheway {
        font-size: 1.125rem;
    }

    main .role {
        font-size: 1.0125rem;
    }

    .nav-list {
        justify-content: space-around;
        height: 80px;
    }
    .nav-list .portfolio {
        margin: 0%;
        align-self: center;
    }


}


/* Desktop User Experience  */
@media (min-width: 701px) {
    main .nevergiveupistheway {
        font-size: 1.625rem;
    }

    main .role {
        font-size: 1.2125rem;

    }

    .nav-list .portfolio a,
    .nav-list .contact a,
    .nav-list .home a {
        padding: 30px;
    }


    /* Animation starts here  */
    .nav-list li>*:hover {



        background: #a2a2a2;
        color: #141414;
        box-shadow: 4px 2px 5px #121212;
    }

    .nav-list li > *{
        background: #232323;
        color: #EEE;
        border-radius: 8px;
    }
}




/* General Animation begins here  */

.nav-list:hover {
    transform: translateY(-5px);
    box-shadow: 3px 8px 7px #121212;
}