* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

/* select the body  :tag*/
body {
    background-image: url("../images/charcoal-pens-copyspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* select the nav-list :class */

.nav-list {
    display: flex;

    list-style-type: none;
    border: 1px solid red;

    justify-content: center;

    flex-wrap: wrap;

    gap: 40px;
    padding: 45px;
}



.nav-list li {
    flex-shrink: 0;
}

.preamble.first {
    font-size: 30px;

}

main {
    height: 55%;
}

main .intro {
    display: flex;
    flex-direction: column;

    align-items: center;


    height: 100%;
    width: 100%;

    justify-content: center;

    border: 1px solid red;

}



@media (min-width: 650px) {
    .preamble.first {
        font-size: 50px;
    }



}

@media (min-width: 1300px) {
    .preamble.first {
        font-size: 65px;
    }
}



@media (max-width: 430px) {
    .preamble.first {
        font-size: 35px;
    }
    main .intro {
        gap: 10px;
    }

}

@media (max-width: 650px) {
    main .intro {
        gap: 7px;
    }
}